<div class="panel panel-default">
    <div class="panel-heading" ui-set="{'selected': '{{property.meta.exposeId}}'">
        <h4 class=" panel-title ">{{property.description.title}} (#{{property.meta.exposeId}})</h4>
    </div>
    <div class="panel-body " ui-if="selected=={{property.meta.exposeId}}">
        <div ng-repeat="picture in property.pictures"> <span ng-if="picture.isTitlePicture && picture.url "><img src="{{picture.url}} " class="picture "></span></div>
        {{property}}
    </div>
</div>
<!--
<div class="result-item-info">
    <h2><a data-ng-bind-html="::hit.description.title" data-ng-href="https://www.immobilienscout24.at/lp/topimmobilien/hoch33_1100.html" target="_blank" data-ng-click="onClick(hit)" class="webkitbox" href="https://www.immobilienscout24.at/lp/topimmobilien/hoch33_1100.html">„Hoch 33–Wohnen über den Dächern Wiens“</a></h2>
    <p
        class="address webkitbox"><span data-ng-bind="::hit.localization.address.zip +' '">1100 </span><span data-ng-bind="::hit.localization.address.city">Wien</span>
        <span data-ng-bind="::', '+hit.localization.address.street +' '" data-ng-if="::hit.object.showAddress &amp;&amp; hit.localization.address.street">, Laaer-Berg-Straße </span>
        <span data-ng-bind="::hit.localization.address.streetNumber">47 + 47a</span></p>
</div>
/-->